{% extends 'layout.html' %} {% block header %} {% block title %}Who the heck is
Alvison Hunter? {% endblock %} {% endblock %}
<br />
{% block content %}
<div class="row">
  <div class="col-md-12 col-12">
    <p class="text-secondary">
      I’m a freelance multi-disciplinary graphic designer who’s delivered
      creative and engaging solutions across brand identity, print, packaging
      and digital media.
    </p>

    <p class="text-secondary">
      I have over 10 years of experience in the software development arena. To
      say that coding is a passion is an understatement, as it is a love that
      has continuously helped me overcome obstacles, embrace challenges, and
      keep my career moving forward. I’ve had the opportunity to add a range of
      capabilities to my repertoire, including JavaScript and several libraries
      and frameworks of this ecosystem such as React, jQuery, AngularJS and Vue.
    </p>

    <p class="text-secondary">
      With a solid experience with the MS-Office VBA, Visual Basic .NET, C# and
      ASP.NET with the Model-View-Controller (MVC) framework as an architectural
      pattern. I've started my learning path with Python and TypeScript and I’m
      also strengthening knowledge in Node.JS, GraphQL, MongoDB, and Express.JS,
      to name a few.
    </p>

    <p class="text-secondary">
      <b>Technical Skills On:</b> Web Development, UX/UI Design, Web & Graphic
      Design, Digital Marketing, Software Quality Assurance & Media Edition.
    </p>

    <p class="text-secondary">
      <b>Managerial Skills On:</b> Team text-secondaryership, Project
      Management, Quality Assurance, Workforce Reporting, Real Time Analyst,
      Staff Recruitment & Retention, Languages & Music Tuition, Translations,
      Customer Service & Training Experience.
    </p>
    <p class="text-secondary">
      Experienced Web Developer who's in a constant pursuit of testing the
      emerging development tools to improve product delivery. Experienced
      Workforce Lead who enjoys challenge seeking opportunity to learn and
      improve skills.
    </p>
  </div>
</div>

<section>
  <div class="container">
    <h1 class="text-center text-uppercase text-muted">
      Some of our services includes:
    </h1>
    <div class="row mbr-justify-content-center">
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-volume-up fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Stay <span>Successful</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-calendar fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Create
              <span>An Effective Team</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-globe fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Launch
              <span>A Unique Project</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mbr-col-md-10">
        <div class="wrap">
          <div class="ico-wrap">
            <span class="mbr-iconfont fa-trophy fa"></span>
          </div>
          <div class="text-wrap vcenter">
            <h2 class="mbr-fonts-style mbr-bold mbr-section-title3 display-5">
              Achieve <span>Your Targets</span>
            </h2>
            <p class="mbr-fonts-style text1 mbr-text display-6">
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
