{% extends 'layout.html' %} {% block header %} {% block title %}Drop us some
lines, folks{% endblock %} {% endblock %}
<br />
{% block content %}
<div class="text-info">
  <div class="container contact-form">
    <div class="contact-image">
      <img
        src="{{ url_for('static', filename='/images/ahunter_rounded.png') }}"
        alt="Alvison Hunter Arnuero"
      />
    </div>
    <form method="post">
      <h3>Drop Us a Message</h3>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input
              type="text"
              name="txtName"
              class="form-control"
              placeholder="Your Name *"
              value=""
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="txtEmail"
              class="form-control"
              placeholder="Your Email *"
              value=""
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="txtPhone"
              class="form-control"
              placeholder="Your Phone Number *"
              value=""
            />
          </div>
          <div class="form-group">
            <input
              type="submit"
              name="btnSubmit"
              class="btnContact"
              value="Send Message"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <textarea
              name="txtMsg"
              class="form-control"
              placeholder="Your Message *"
              style="width: 100%; height: 150px;"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
