{% extends 'layout.html' %} {% block header %} {% block title %}☎️ Emergency
Phone Numbers{% endblock %} {% endblock %} {% block content %}

<div class="container">
  <div class="row my-4">
    <div class="col-lg-4">
      <div class="card border-info mb-3 align-items-center">
        <div class="card-header w-100">
          <h5 class="text-primary text-center text-uppercase">
            Emergency Numbers
          </h5>
        </div>
        <img
          src="../static/images/icons8-doctors-bag-200.png"
          class="card-img-top w-50"
        />
        <div class="card-body text-dark">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Police department <b class="ml-2 text-info">2532-2510</b>
            </li>
            <li class="list-group-item">
              Fire department <b class="ml-2 text-info">2532-0007</b>
            </li>
            <li class="list-group-item">
              Hospital Santiago <b class="ml-2 text-info">2532-2611</b>
            </li>
            <li class="list-group-item">
              HARMIM Medical Center <b class="ml-2 text-info">2532-0172</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border-info mb-3 align-items-center">
        <div class="card-header w-100">
          <h5 class="text-primary text-center text-uppercase">
            Important Numbers
          </h5>
        </div>
        <img
          src="../static/images/icons8-grocery-store-48.png"
          class="card-img-top w-50"
        />
        <div class="card-body text-dark">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Police department <b class="ml-2 text-info">2532-2510</b>
            </li>
            <li class="list-group-item">
              Fire department <b class="ml-2 text-info">2532-0007</b>
            </li>
            <li class="list-group-item">
              Hospital Santiago <b class="ml-2 text-info">2532-2611</b>
            </li>
            <li class="list-group-item">
              HARMIM Medical Center <b class="ml-2 text-info">2532-0172</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border-info mb-3 align-items-center">
        <div class="card-header w-100">
          <h5 class="text-primary text-center text-uppercase">
            School Teachers
          </h5>
        </div>
        <img
          src="../static/images/icons8-school-48.png"
          class="card-img-top w-50"
        />
        <div class="card-body text-dark">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Police department <b class="ml-2 text-info">2532-2510</b>
            </li>
            <li class="list-group-item">
              Fire department <b class="ml-2 text-info">2532-0007</b>
            </li>
            <li class="list-group-item">
              Hospital Santiago <b class="ml-2 text-info">2532-2611</b>
            </li>
            <li class="list-group-item">
              HARMIM Medical Center <b class="ml-2 text-info">2532-0172</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border-info mb-3 align-items-center">
        <div class="card-header w-100">
          <h5 class="text-primary text-center text-uppercase">
            Doctors Numbers
          </h5>
        </div>
        <img
          src="../static/images/icons8-medical-doctor-96.png"
          class="card-img-top w-50"
        />
        <div class="card-body text-dark">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Police department <b class="ml-2 text-info">2532-2510</b>
            </li>
            <li class="list-group-item">
              Fire department <b class="ml-2 text-info">2532-0007</b>
            </li>
            <li class="list-group-item">
              Hospital Santiago <b class="ml-2 text-info">2532-2611</b>
            </li>
            <li class="list-group-item">
              HARMIM Medical Center <b class="ml-2 text-info">2532-0172</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border-info mb-3 align-items-center">
        <div class="card-header w-100">
          <h5 class="text-primary text-center text-uppercase">
            Family and Neighbors
          </h5>
        </div>
        <img
          src="../static/images/icons8-neighbor-48.png"
          class="card-img-top w-50"
        />
        <div class="card-body text-dark">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Police department <b class="ml-2 text-info">2532-2510</b>
            </li>
            <li class="list-group-item">
              Fire department <b class="ml-2 text-info">2532-0007</b>
            </li>
            <li class="list-group-item">
              Hospital Santiago <b class="ml-2 text-info">2532-2611</b>
            </li>
            <li class="list-group-item">
              HARMIM Medical Center <b class="ml-2 text-info">2532-0172</b>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card border-info mb-3 align-items-center">
        <div class="card-header w-100">
          <h5 class="text-primary text-center text-uppercase">
            Maintenance Numbers
          </h5>
        </div>
        <img
          src="../static/images/icons8-maintenance-48.png"
          class="card-img-top w-50"
        />
        <div class="card-body text-dark">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Police department <b class="ml-2 text-info">2532-2510</b>
            </li>
            <li class="list-group-item">
              Fire department <b class="ml-2 text-info">2532-0007</b>
            </li>
            <li class="list-group-item">
              Hospital Santiago <b class="ml-2 text-info">2532-2611</b>
            </li>
            <li class="list-group-item">
              HARMIM Medical Center <b class="ml-2 text-info">2532-0172</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- END OF JUMBO TRON -->
{% endblock %}
