{% extends 'layout.html' %} {% block header %} {% block title %}☎️ My Contacts
Phone Numbers{% endblock %} {% endblock %} {% block content %}
<div class="row my-4">
  <!--team-1-->
  <div class="col-lg-4">
    <div class="our-team-main">
      <div class="team-front">
        <img
          src="../static/images/icons8-doctors-bag-200.png"
          class="img-fluid"
        />
        <h3>Emergency Numbers</h3>
      </div>

      <div class="team-back">
        <ul class="list-group border border-info">
          <li class="list-group-item">
            Police department <b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Fire department <b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Hospital <b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Medical Center <b class="ml-2 text-info">8989-7867</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--team-1-->

  <!--team-2-->
  <div class="col-lg-4">
    <div class="our-team-main">
      <div class="team-front">
        <img
          src="../static/images/icons8-grocery-store-48.png"
          class="img-fluid"
        />
        <h3>Important Numbers</h3>
      </div>

      <div class="team-back">
        <ul class="list-group border border-info">
          <li class="list-group-item">
            Police department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Fire department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Hospital<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Medical Center<b class="ml-2 text-info">8989-7867</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--team-2-->

  <!--team-3-->
  <div class="col-lg-4">
    <div class="our-team-main">
      <div class="team-front">
        <img src="../static/images/icons8-school-48.png" class="text-info" />
        <h3>School Teachers</h3>
      </div>

      <div class="team-back">
        <ul class="list-group border border-info">
          <li class="list-group-item">
            Police department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Fire department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Hospital<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Medical Center<b class="ml-2 text-info">8989-7867</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--team-3-->

  <!--team-4-->
  <div class="col-lg-4">
    <div class="our-team-main">
      <div class="team-front">
        <img
          src="../static/images/icons8-medical-doctor-96.png"
          class="img-fluid"
        />
        <h3>Doctors Numbers</h3>
      </div>

      <div class="team-back">
        <ul class="list-group border border-info">
          <li class="list-group-item">
            Police department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Fire department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Hospital<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Medical Center<b class="ml-2 text-info">8989-7867</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--team-4-->

  <!--team-5-->
  <div class="col-lg-4">
    <div class="our-team-main">
      <div class="team-front">
        <img src="../static/images/icons8-neighbor-48.png" class="img-fluid" />
        <h3>Family and Neighbors</h3>
      </div>

      <div class="team-back">
        <ul class="list-group border border-info">
          <li class="list-group-item">
            Police department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Fire department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Hospital<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Medical Center<b class="ml-2 text-info">8989-7867</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--team-5-->

  <!--team-6-->
  <div class="col-lg-4">
    <div class="our-team-main">
      <div class="team-front">
        <img
          src="../static/images/icons8-maintenance-48.png"
          class="img-fluid"
        />
        <h3>Maintenance Numbers</h3>
      </div>

      <div class="team-back">
        <ul class="list-group border border-info">
          <li class="list-group-item">
            Police department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Fire department<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Hospital<b class="ml-2 text-info">8989-7867</b>
          </li>
          <li class="list-group-item">
            Medical Center<b class="ml-2 text-info">8989-7867</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--team-6-->
</div>

<!-- END OF JUMBO TRON -->
{% endblock %}
